In [1]:
import requests
import pprint
import json
import pandas as pd
from datetime import datetime,  timedelta
import tqdm 
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

key = '7bBeVcu1HiKEYVutnwGstfISHvCJKzXcizQ2iFZlhBCaQobHPqOod8G%2BcwO05R81TptPWRtVcKUSqmhqOqCGXQ%3D%3D'

# 1. 국토교통부_(TAGO)_버스정류소정보

## 1-1. 도시코드 목록 조회

In [11]:
def get_city_code(key):
    
    url = 'https://apis.data.go.kr/1613000/BusSttnInfoInqireService/getCtyCodeList?serviceKey=%s&_type=json'%key    
    response = requests.get(url, verify=False)
    contents = response.text
    json_ob = json.loads(contents)
    data = json_ob['response']['body']['items']['item']
    city_code_df = pd.json_normalize(data)
    return city_code_df

In [13]:
city_code_df = get_city_code(key)
city_code_df.to_csv('[버스정류소정보]도시코드_목록_조회.csv')

## 1-2. 정류소번호 목록조회

In [24]:
def get_api_conts_2(key,city_code):
    
    url = 'https://apis.data.go.kr/1613000/BusSttnInfoInqireService/getSttnNoList?serviceKey=%s&pageNo=1&numOfRows=1000000&_type=json&cityCode=%s'%(key,str(city_code) )
    
    response = requests.get(url, verify=False)
    contents = response.text
    json_ob = json.loads(contents)
    data = json_ob['response']['body']['items']['item']
    return data

In [ ]:
stop_num = []
for i in tqdm(city_code_df['citycode']):
    try:
        js = get_api_conts_2(key,i)
        stop_num.append(js)
    except:
        print(i)
        pass

 36%|████████████████████████████▊                                                    | 47/132 [00:34<00:51,  1.66it/s]

32370

 64%|███████████████████████████████████████████████████▌                             | 84/132 [01:03<00:35,  1.33it/s]

In [35]:
stop_num_li = []
for i in range(len(stop_num)):
    for item in stop_num[i]:
        stop_num_li.append(item)

In [37]:
stop_num_df = pd.json_normalize(stop_num_li)
stop_num_df.to_csv('[버스정류소정보]정류소번호_목록.csv')